div.row {
    padding: 2px;
}

button.btn {
    width: 100%;
}

i.fa.fa-check-circle-o {
    color: #20f620;
}

i.fa.fa-times-circle-o, i.fa.fa-times {
    color: #ff0000;
}

i.fa.fa-question-circle-o {
    color: #a3a1a1;
}

div.list-group-item.alert.alert-danger {
    color: red;
    border: 1px solid red;
}

div.progress-bar.bg-danger {
    /*background-color:red;*/
}

input {
    z-index: -1;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
