.table-dark tr {
    background-color: #454d55;
    color: white;
}

    .table-dark tr th {
        background-color: #454d55;
        color: white;
    }

.table-hover tbody tr:hover td, .table-hover {
    cursor: pointer;
    color: white;
    background-color: #4e6d8d;
}

.table-sm tr {
    font-size: small;
}

.table-txt-rigth tr {
    text-align: right;
}

    .table-txt-rigth tr th {
        text-align: center;
    }
.active-row td {
    cursor: pointer;
    color: white;
    background-color: #808080;
}
