@inherits LayoutComponentBase

<div class="left-sidebar">
    <div class="navbar-left">
        <div class="link-nav-top">Icon</div>
        <a class="link-nav"><i class="fa fa-server"></i></a>
        <a class="link-nav"><i class="fa fa-server"></i></a>
        <a class="link-nav"><i class="fa fa-server"></i></a>
        <a class="link-nav"><i class="fa fa-server"></i></a>
        <a class="link-nav link-nav-settings"><i class="fa fa-cog link-nav-settings"></i></a>
    </div>
    
</div>
<div class="right-sidebar">
    <div class="main-display">
        @*@Body*@
        <CalcBlazor.Pages.InterDiagram></CalcBlazor.Pages.InterDiagram>
    </div>
    <div class="navbar-top">aa</div>
    <div class="indecator-stat">
        <progress id="file" max="100" value="33"> 70% </progress>
    </div>
</div>