<h1>
    Dijagram interakcije za AB preske
</h1>
<form class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12" #f="ngForm">
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                b=
            </span>
            <input type="number" (keyup)="updateChart()"
                   [(ngModel)]="izracunaj.geometry.b"
                   class="form-control"
                   placeholder="exp. 25"
                   required
                   name="b"
                   #b="ngModel"
                   id="b">
            <span class="input-group-addon test-active"
                  *ngIf="b.touched && !b.valid  || b.touched && b.value<=0"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
            <span class="input-group-addon"
                  id="basic-addon2">
                [cm]
            </span>
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                h=
            </span>
            <input type="text" (keyup)="updateChart()"
                   [(ngModel)]="izracunaj.geometry.h"
                   class="form-control"
                   placeholder="exp. 40"
                   required
                   name="h"
                   #h="ngModel"
                   id="h">
            <span class="input-group-addon test-active"
                  *ngIf="h.touched && !h.valid || h.touched && h.value<0"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
            <span class="input-group-addon"
                  id="basic-addon2">
                [cm]
            </span>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                d1=
            </span>
            <input (keyup)="updateChart()"
                   type="number"
                   [(ngModel)]="izracunaj.geometry.d1"
                   class="form-control"
                   placeholder="exp. 4"
                   required
                   name="d1"
                   #d1="ngModel"
                   id="d1">
            <span class="input-group-addon test-active"
                  *ngIf="d1.touched && !d1.valid || d1.touched && d1.value<=0"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                d2=
            </span>
            <input (keyup)="updateChart()"
                   type="number"
                   [(ngModel)]="izracunaj.geometry.d2"
                   class="form-control"
                   placeholder="exp. 4"
                   required
                   name="d2"
                   #d2="ngModel"
                   id="d2">
            <span class="input-group-addon test-active"
                  *ngIf="d2.touched && !d2.valid || d2.touched && d2.value<=0"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
            <span class="input-group-addon"
                  id="basic-addon2">
                [cm]
            </span>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                As1=
            </span>
            <input (keyup)="updateChart()"
                   type="number"
                   [(ngModel)]="izracunaj.geometry.as1"
                   class="form-control"
                   placeholder="exp. 4"
                   required
                   name="as1"
                   #as1="ngModel"
                   id="as1">
            <span class="input-group-addon test-active"
                  *ngIf="as1.touched && !as1.valid ||as1.touched && as1.value<=0"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                As2=
            </span>
            <input (keyup)="updateChart()"
                   type="number"
                   [(ngModel)]="izracunaj.geometry.as2"
                   class="form-control"
                   placeholder="exp. 4"
                   required
                   name="as2"
                   #as2="ngModel"
                   id="as2">
            <span class="input-group-addon test-active"
                  *ngIf="as2.touched && !as2.valid || as2.touched && as2.value<=0"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
            <span class="input-group-addon"
                  id="basic-addon2">
                [cm]
            </span>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                Beton
            </span>
            <select class="form-control" name="betonClass" (change)="updateChart()"
                    [(ngModel)]="izracunaj.material.betonClass">
                <option *ngFor="let beton of betonclassList"
                        [value]="beton.name">
                    {{beton.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon test-active"
                  id="basic-addon2">
                Armatura
            </span>
            <select class="form-control" name="armtype" (change)="updateChart()"
                    [(ngModel)]="izracunaj.material.armtype">
                <option *ngFor="let arm of armaturaTypeList"
                        [ngValue]="arm.name">
                    {{arm.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="row px-2">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">M_Ed</span>
            <input type="number"
                   [(ngModel)]="izracunaj.mi"
                   class="form-control"
                   placeholder="exp. 25"
                   required
                   name="mi"
                   #mi="ngModel"
                   id="mi">
            <span class="input-group-addon test-active"
                  *ngIf="mi.touched && !mi.valid"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.row -->
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">N_Ed</span>
            <input type="number"
                   [(ngModel)]="izracunaj.ni"
                   class="form-control"
                   placeholder="exp. 25"
                   required
                   name="ni"
                   #ni="ngModel"
                   id="ni">
            <span class="input-group-addon test-active"
                  *ngIf="ni.touched && !ni.valid"
                  id="basic-addon2">
                <i class="fa fa-times" aria-hidden="true" title="Not Valid!"></i>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.row -->
    <div class="row">
        <button class="btn btn-primary mybtn"
                [disabled]=!ni.valid
                (click)="AddPointMNAndPlot()"
                type="button">
            Add Point
        </button>
    </div>
    <div class="row" 
         *ngIf="lineChartData.length>1">
        <table style="width:100%">
            <tr>
                <th>M_Ed</th>
                <th>N_Ed</th>
                <th>Remove</th>
            </tr>
            <tr  
                *ngFor="let point of lineChartData | slice:1">
                <td>{{point.data[0].x}} kNm</td>
                <td>{{point.data[0].y}} kNm</td>
                <td>
                    <button class="btn btn-danger "
                        [disabled]=!ni.valid
                        (click)="removePointMNAndPlot(point.data[0])"
                        type="button">x</button>
                    <button class="btn btn-info "
                        [disabled]=!ni.valid
                        (click)="removePointMNAndPlot(point.data[0])"
                        type="button">?</button>
                </td>
            </tr>
        </table>
    </div>
</form>
    <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <canvas *ngIf="chart" id="canvas">
            {{chart}}
        </canvas>

        <div class="form-group " *ngIf="textResult">
            <label for="comment">Rezultat:</label>
            <textarea class="form-control" disabled rows="15" id="comment">{{textResult}}</textarea>
        </div>
    </div>




