@using CalcBlazor.Data.Models
<style>
    .input-feild {
        display: flex;
        margin-bottom: 1vh;
    }

    input, InputNumber {
        flex: 1;
    }

    .input-feild label {
        margin: 0 1vh 0 1vh;
    }

    .input-feild button {
        flex: 1;
    }
</style>
<fieldset>
    <legend>Add forces point:</legend>
    <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
        <div class="input-feild">
            <label>M_Ed:</label> <InputNumber @bind-Value="model.M" /><label>[kNm]</label>
        </div>
        <div class="input-feild">
            <label>N_Ed:</label> <InputNumber @bind-Value="model.N" /><label>[kN]</label>
        </div>
        <div class="input-feild">
            <button type="submit">Add</button>
        </div>
    </EditForm> 

  
</fieldset>

@code {
   
}
