<h1>VGGS_Calculator</h1>
<p>Dobrodosli na web sajt, napravljen pomocu:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> i <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a></li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> </li>
    <li><a href='https://webpack.github.io/'>Webpack</a></li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a></li>
</ul>
<div class="container-fluid" style="border: 1px solid black; border-radius: 10px; width:80%;">
    <p>Ovaj sajt je osmišljen kao Web aplikacija kao master rad na temu <i><b>Program za dimenzionisanje pravougaonog AB poprečnog prseka</b></i> Autora Mikaric Slobodana, Mentora prof. dr Dragana Nikolica na Visoko gradjevinsko-geodetskoj skoli</p>
</div>

<donate></donate>


